.cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s, transform 0.2s;
  z-index: 999;
  transform-origin: center;
}
.blue-cursor {
  background-color: #7faafa;
}
.white-cursor {
  background-color: white;
}
.search-cursor {
  background-color: #7faafa;
}
.soc-link-cursor {
  background-color: #7faafa;
}
