.cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s, transform 0.2s;
  z-index: 900;
}
.navbar-cursor {
  background-color: #7faafa;
  width: 15px;
  height: 15px;
}
.link-cursor {
  background-color: white;
}
.search-cursor {
  background-color: #7faafa;
}
