* {
  -webkit-font-smoothing: none;
}
header {
  .scaled {
    transform: scale(1.6) translate(-50%, -50%);
    background-color: black;
  }

  .list-item {
    width: fit-content;
    height: 30px;
    display: flex;
    color: grey;
    align-items: center;
  }

  .scaled-item {
    position: relative;
    z-index: 1;
    font-weight: normal; /* Set font weight to normal for scaled-item */
  }

  .scaled-item:hover {
    mix-blend-mode: difference; /* Apply blend mode only on hover */
    color: white; /* Change text color on hover */
    transform: scale(1.1);
    transition: 0.7s;
  }
}
