header {
  ul li:hover ~ .cursor {
    transform: scale(6);
  }
  .cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    transition: transform 0.2s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
  }
}
