.hidden-navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 16px 16px 32px 16px;
  border-radius: 0 20px 20px 0;
  transform: translateX(-100%);
  opacity: 1;
  transition: transform 0.3s ease;
  animation: navbar-animation 1s;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 900;
  margin: auto;

  .nav-list {
    gap: 30px;
    h1 {
      color: #3381ff;
      font-family: "Lato", sans-serif;
      width: 100%;
      font-weight: 900;
      font-style: normal;
      text-align: start;
      font-size: 30px;
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        padding: 10px;
        border-radius: 10px;
        transform: scale(1);
        a {
          color: black;
          margin-left: 10px;
          font-family: "Noto Sans Georgian", sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-variation-settings: "wdth" 100;
        }
        &:hover {
          background-color: #3381ff;
          transform: scale(1.05);
          transition: 0.2s;
        }
        &:hover a {
          color: white;
          transition: 0.2s;
        }
      }
    }
  }
  .nav-footer {
    align-items: center;
    justify-content: center;
    .soc-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 150px;
      li {
        width: 30px;
        a {
          width: 30px;
          height: 30px;
          background-color: black;
          text-align: center;
          line-height: 30px;
          font-size: 30px;
          display: block;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          border: 3px solid black;
          z-index: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          transition: 0.5s;
          i {
            position: absolute;
            color: #fff;
            transition: 0.5s;
            z-index: 3;
          }
          &:hover i {
            transform: rotateY(360deg);
          }
        }
        &:nth-child(1):hover a {
          background-color: #3b5999;
        }
        &:nth-child(2):hover a {
          background: linear-gradient(
            45deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d,
            #f56040,
            #f77737,
            #fcaf45,
            #ffdc80
          );
          background-size: 200% 200%;
          animation: gradientAnimation 10s ease infinite;
        }
        &:nth-child(3):hover a i {
          color: red;
        }
        &:nth-child(3):hover a {
          background-color: white;
        }
      }
    }
  }
  .hidden-navbar-arrow {
    position: absolute;
    left: 275px;
    top: 50%;
    transform: translate(-200%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s;
    border: none;
    cursor: none;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
    }
  }
  .visible {
    transform: translate(0, -50%);
  }
}
.hidden-navbar.visible {
  transform: translateX(0);
}
