@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
.nav-bar {
  background-color: white;
  height: 600px;
  border-radius: 20px;
  padding: 16px 16px 32px 16px;
  transform: translateX(-0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: navbar-animation 1s;
  @keyframes navbar-animation {
    from {
      transform: translateX(-100%);
      opacity: 1;
    }
  }
  .nav-list {
    gap: 30px;
    h1 {
      color: #3381ff;
      font-family: "Lato", sans-serif;
      width: 100%;
      font-weight: 900;
      font-style: normal;
      text-align: start;
      font-size: 30px;
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        padding: 10px;
        border-radius: 10px;
        transform: scale(1);
        a {
          color: black;
          margin-left: 10px;
          font-family: "Noto Sans Georgian", sans-serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          font-variation-settings: "wdth" 100;
        }
        &:hover {
          background-color: #3381ff;
          transform: scale(1.05);
          transition: 0.2s;
        }
        &:hover a {
          color: white;
          transition: 0.2s;
        }
      }
    }
  }
  .nav-footer {
    display: flex;
    align-items: start;
    justify-content: center;
    .soc-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      li {
        width: 40px;
        a {
          width: 30px;
          height: 30px;
          background-color: black;
          text-align: center;
          line-height: 30px;
          font-size: 30px;
          display: block;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          border: 3px solid black;
          z-index: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          transition: 0.5s;
          i {
            position: absolute;
            color: #fff;
            transition: 0.5s;
            z-index: 3;
          }
          &:hover i {
            transform: rotateY(360deg);
          }
        }
        &:nth-child(1):hover a {
          background-color: #3b5999;
        }
        &:nth-child(2):hover a {
          background: linear-gradient(
            45deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d,
            #f56040,
            #f77737,
            #fcaf45,
            #ffdc80
          );
          background-size: 200% 200%;
          animation: gradientAnimation 10s ease infinite;
        }
        &:nth-child(3):hover a i {
          color: red;
        }
        &:nth-child(3):hover a {
          background-color: white;
        }
      }
    }
  }
}
@media only screen and (min-width: 1450px) {
  .nav-bar {
    .nav-footer {
      display: flex;
      justify-content: center;
      .soc-links {
        width: 200px;
        li {
          a {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
