@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
.nav-bar {
  background-color: white;
  height: 92vh;
  border-radius: 20px;

  .nav-list {
    gap: 30px;
    h1 {
      color: #3381ff;
      font-family: "Lato", sans-serif;
      width: 100%;
      font-weight: 900;
      font-style: normal;
      text-align: start;
      font-size: 30px;
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        padding: 10px;
        border-radius: 10px;
        transform: scale(1);
        a {
          color: black;
          margin-left: 10px;
          font-family: "Noto Sans Georgian", sans-serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          font-variation-settings: "wdth" 100;
        }
        &:hover {
          background-color: #3381ff;
          transform: scale(1.05);
          transition: 0.2s;
        }
        &:hover a {
          color: white;
          transition: 0.2s;
        }
      }
    }
  }
  .nav-footer {
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        padding: 10px;
        border-radius: 10px;
        transform: scale(1);
        a {
          color: black;
          margin-left: 10px;
          font-family: "Noto Sans Georgian", sans-serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          font-variation-settings: "wdth" 100;
        }
        &:hover {
          background-color: #3381ff;
          transform: scale(1.05);
          transition: 0.2s;
        }
        &:hover a {
          color: white;
          transition: 0.2s;
        }
      }
    }
  }
}
